</div>
<script scr="/javascripts/jquery.min.js"></script>
<script scr="/javascripts/jquery-ui.min.js"></script>
<script scr="/javascripts/popper.min.js"></script>
<script scr="/javascripts/bootstrap.min.js"></script>
</body>
</html>